@charset "utf-8";

@font-face {
	
	
	/*font-family: 'codropsicons';*/
	font-family: HelveticaInseratLTStd;
	
	  

	 
	 src: url(../fonts/HelveticaInseratLTStd-Roman.otf);
	 
	 font-style: normal;
	font-style:normal;
}

@font-face {
	
	
	/*font-family: 'codropsicons';*/
	font-family: UTM Helve;
	
	  

	 
	 src: url(../fonts/UTM_Helve.ttf);
	 
	 font-style: normal;
	font-style:normal;
}


body {
	font-family: UTM;
	font-size: 14px;
	color: #666;
	margin: 0px;
	background-image: url(../image/Mobile-shopping_02.jpg);
	background-repeat: repeat-x;
background-color:#000;
}


#top {
    position: relative;
    min-height: 65px;
    margin-bottom: 90px;
    background: #f5d417;
	}
	
	.clear {
    clear: both;
}
	.wrapper-a {
    width: 860px;
    margin: 0 auto;
	position: relative;
    height: 111px;
	z-index: 200;
	
	}
	#logo {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	float: left;
	height: 134px;
    width: 152px;
	margin-top: 15px;
	margin-left: 30px;
}

.box-e
{
	float:right;
	width: 537px;
}
.huyen {
    float: right;
}

.fl1 {
    float: left;
    margin-left: 185px;
}
.list-f
{
	float: left;
    list-style: none;
    
    padding: 0;
	    padding-bottom: 3px;
   
	margin-top:20px;
}
.list-f li a:hover

{
	color:#c41009;
	background-image: url(../images/iconsmall3-1.png);
	background-repeat: no-repeat;
}
.list-f li
{
	float:left;
	
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	
	margin-right: 16px;
}

.list-f li a {
	font-size:12px;
	position: relative;
    top: -5px;
    display: block;
   
    padding-left:10px;
    color: #080400;
   
	text-decoration: none;
	background-position: left;
	font-family: UTM Helve;
	background-image: url(../images/iconsmall3.png);
	background-repeat: no-repeat;
}



.phone
{
	float: left;
    font-size: 14px;
    color: #F5D417;
    background-color: #2c2c2c;
    margin-top: 0px;
    font-family: Verdana, Geneva, sans-serif;
    height: 19px;
    border-radius: 0px 10px 10px 0;
    width: 122px;
    padding-top: 4px;
    padding-bottom: 3px;
}

.box-d
{
	float:left;
	margin-top: 13px;
}

.img
{
	padding-right:5px;
	float:left;
	
}

#nav{
	clear:both;
	
}


#nav ul{
	float:right;
	list-style: none;
	
}
#nav ul li{
	float:left;
}
#nav ul li a {
	
	text-decoration: none;
	color:#080400;
	font-size:14px;
	
}

.box-a
{
	height:505px;
	background-color:#000000;
	width:100%;
	position: relative; 
	margin-bottom: 90px;
}

#banner1
{
	width:860px;
	margin: 0 auto;
	
}
#content .fl-gold {
    float: left;
    font-size: 18px;
    font-family: HelveticaInseratLTStd;
    padding-top: 40px;
}
#banner2
{
	
height: 674px;

top: -111px;

bottom: 45px;


background-image: url("../images/lehuyen.png");
background-repeat: no-repeat;
position: relative;

background-position: 63% center;
}
#conten3-left
{
	height:280px;
	width:393px;
}
.size42
{
	
	position: relative;
top: -75px;
	font-size:42px;
	    font-family: HelveticaInseratLTStd;
		color:#ffffff;
}

.size22-1
{
	position: relative;
top: 157px;
	font-size:22px;
	font-family:Arial;
	opacity:0.8;
	color:#ffffff;
}
.size22-2
{
	position: relative;
top: 67px;
	font-size:22px;
	font-family:Arial;
	opacity:0.8;
	color:#000000;
}
.size42-1
{
	
	position: relative;
top: 115px;
	font-size:42px;
	    font-family: HelveticaInseratLTStd;
		color:#ffffff;
}
.size22
{
	position: relative;
top: -55px;
	font-size:22px;
	font-family:Arial;
	opacity:0.8;
	color:#ffffff;
}
.size42-2
{
	position: relative;
top: 53px;
	font-size:42px;
	    font-family: HelveticaInseratLTStd;
		color:#2c790b;
}
.conten-wrapper
{
	width:860px;
	margin:0 auto;
}
.footer-size14 {
    font-size: 14px;
    font-family: UTM Helve;
    opacity: 0.5;
}

.footer-size14-1  a{
    font-size: 14px;
    font-family: UTM Helve;
    opacity: 0.5;
	text-decoration: none;
	color:#737373;
	padding-left: 28px;
}
#conten1-left{
	height:526px;
	width:455px;
	float:left;
}
#content .fr-gold {
    float: right;
    padding-top: 64px;
}
#footer {
    width: 100%;
    background-color: #000;
    position: relative;
    height: 145px;
}

#content {
    width: 860px;
    margin: 0px auto;
}
#banner3
{
	height: 384px;
background-color: #2C790B;
position: relative;
    top: -19px;

}


#conten
{
height:448px;
background-color:blue;
}
#banner1 .fl
{
	float:left;
	width:300px;
	height:505px;
}

#banner1 .fr
{
	float:right;
	font-size:62px;
	height:505px;
	font-style:bold;
	width:559px;
	color:#2c790b;
	font-style:bold;
	font-family:HelveticaInseratLTStd;
}
.size-38
{
	font-size:38px;
	font-style:bold;
	font-family:HelveticaInseratLTStd;
	color:#ffffff;
	
}
.size-24
{
	font-size:24px;
	font-family:arial;
	color:#ffffff;
}

.huyen  a
{
	height: 14px;
display: block;
width: 164px;
float: left;
text-align: center;
font-size: 14px;
font-family: UTM Helve;
color: #080400;
text-decoration: none;

}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
.huyen  a
{
	height: 91px;
    display: block;
    width: 126px;
    float: left;
    text-align: center;
    font-size: 14px;
    font-family: UTM Helve;
    color: #080400;
    text-decoration: none;
    margin-left: 52px;
}
}
.icon-more a
{
	font-family: UTM Helve;
    font-size: 14px;
    /* padding-top: 36px; */
    /* padding-left: 23px; */
    /* margin-top: 63px; */
    top: 1px;
    left: 16px;
    position: absolute;
    text-decoration: none;
    color: #ffffff;
	
	
}
.icon-more
{
	background-image: url(../images/icon1.png);
	background-repeat: no-repeat;
	width:151px;
	height:24px;
	position: relative;
}
.slant-wrapper-a {
    overflow: hidden;
  
    position: absolute;
    bottom: -90px;
    left: 0;
    width: 100%;
    max-width: 2000px;
    height: 90px;
	background-color:#000000;
}


.slant-wrapper-a1 {
    /*overflow: hidden;*/
  
    position: absolute;
bottom: -132px;
left: 0px;
width: 100%;
max-width: 2000px;
height: 135px;
background-color: #000;
}

.slant-wrapper-a2 {
    /*overflow: hidden;*/
  
    position: absolute;

left: 0px;
width: 100%;
max-width: 2000px;
height: 135px;
background-color: #000;
}


.slant-wrapper-a3 {
    /*overflow: hidden;*/
  
    position: absolute;

left: 0px;
width: 100%;
max-width: 2000px;
height: 135px;
background-color: #000;
}

.slant-wrapper-bb{
    overflow: hidden;
    position: absolute;
    bottom: -549px;
    left: 0;
    width: 100%;
    max-width: 2000px;
    height: 90px;
    background-color: #000000;
}

.slant-bb {
    position: absolute;
    top: -47px;
    left: 50%;
    width: 110%;
    margin-left: -55%;
    height: 90px;
    background-color: #256c06;
    -moz-transform: rotate(-2.5deg);
    -webkit-transform: rotate(-2.5deg);
    -o-transform: rotate(-2.5deg);
    -ms-transform: rotate(-2.5deg);
    transform: rotate(-2.5deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.slant-wrapper-a.top
{
	z-index: 100;
    bottom: auto;
    top: -90px;
}

.top .slant-a {
    top: 47px;
}

.slant-a {
    position: absolute;
    top: -47px;
    left: 50%;
    width: 110%;
    margin-left: -55%;
    height: 90px;
    background-color: #f5d417;
   -ms-transform: skewY(-3deg);
	-webkit-transform: skewY(-3deg);
	transform: skewY(-3deg);
}

.slant-a1 {
        position: absolute;
    top: 16px;
    width: 100%;
    height: 90px;
    background-color: #FFF;
   -ms-transform: skewY(3deg);
	-webkit-transform: skewY(3deg);
	transform: skewY(3deg);


  }
  
  .slant-a2 {
        position: absolute;
    top: -150px;
    width: 100%;
    height: 172px;
    background-color: #2C790B;
    -ms-transform: skewY(-3deg);
	-webkit-transform: skewY(-3deg);
	transform: skewY(-3deg);


  }
  .banner4-agolden {
    height: 594px;
    background-image: url("../images/footer9_06.png");
    background-repeat: no-repeat;
    position: relative;
    top: -125px;
    background-position: 34% center;
}
  
  .slant-a3 {
        position: absolute;
    top: -38px;
    width: 100%;
    height: 90px;
    background-color: #256C06;
    -ms-transform: skewY(-3deg);
	-webkit-transform: skewY(-3deg);
	transform: skewY(-3deg);


footer
{
	height:207px;
	width:100%;
	background-color:#000000;
}
